[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
"flake8" = "*"
twine = "*"
pylint = "*"
bs4 = "*"
html5lib = "*"

[requires]
python_version = "3.9"

[dev-packages]
pre-commit = "*"
