[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.22.0"
click = "*"
"flake8" = "*"
coverage = "*"
coveralls = "*"
twine = "*"
pylint = "*"

[requires]
python_version = "3.8"
