[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
requests = ">=2.20.0"
click = "*"

[dev-packages]
"flake8" = "*"
coverage = "*"
coveralls = "*"
twine = "*"

[requires]
python_version = "3.6"
